src/main/mule/imp-put-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="imp-put-accountsFlow" doc:id="87428f58-8a8b-4579-b57f-f0e6a69cf6a7" >
		<logger level="INFO" doc:name="Logger to verify the flow" doc:id="c93b34a9-273f-4ccf-9ee1-178e8f4ba446" />
		<http:request method="${request-config.put-method}" doc:name="Request to create accounts in sfdc " doc:id="183f9aca-1533-4dda-a1f0-0a2006b82568" config-ref="HTTP_Request_configuration-sfdc-papi" path="${request-config.put-path}" sendCorrelationId="ALWAYS" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"correlationId" : "good",
	"client_secret" : "aAB82B8180B04E3391b503AA66844654",
	"client_id" : "278c2c024ce94151884f31b544fb242b"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"account_id" : vars.account_id
}]]]></http:uri-params>
		</http:request>
		<async doc:name="Async" doc:id="1b24d121-d417-4ccd-a3d1-78de85136afe" >
			<email:send doc:name="Send" doc:id="cc2e888b-9da8-4fae-9c1b-77a36f589b95" config-ref="Email_SMTP" subject="Account Accessed!" >
				<email:to-addresses >
					<email:to-address value="cibi.sivakumar@logicalmindsit.com" />
				</email:to-addresses>
				<email:body >
					<email:content ><![CDATA[Your Salesforce Account has been accessed by mulesoft developer, if it is not you please change the account password or security token created in salesforce.]]></email:content>
				</email:body>
			</email:send>
		</async>
		<ee:transform doc:name="Transform Message" doc:id="e3abc0a6-2c5d-4570-9413-e53a94883b0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Mail-Message": "Notification for the mail user was sent for the security reason",
	"Actual-Payload": vars.payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
