src/main/mule/mobile-accounts-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="mobile-accounts-eapi-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mobile-accounts-eapi-config"/>
		<error-handler ref="lm-common-error-handlerError_Handlers" />
    </flow>
    <flow name="mobile-accounts-eapi-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mobile-accounts-eapi-config"/>
		<error-handler ref="lm-common-error-handlerError_Handlers" />
    </flow>
    <flow name="put:\accounts\(account_id):application\json:mobile-accounts-eapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="f7243c1b-e60a-43a7-a277-560dbe8aad37" name="imp-put-accountsFlow"/>
		<error-handler ref="lm-common-error-handlerError_Handlers" />
    </flow>
    <flow name="delete:\accounts\(account_id):mobile-accounts-eapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="3e10813d-f432-45da-ae18-85ec46ff86ac" name="imp-delete-accountsFlow"/>
		<error-handler ref="lm-common-error-handlerError_Handlers" />
    </flow>
    <flow name="get:\accounts\(account_id):mobile-accounts-eapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="4d4b2056-f830-4044-be9d-a64db4744fc8" name="imp-get-accountsFlow"/>
		<error-handler ref="lm-common-error-handlerError_Handlers" />
    </flow>
    <flow name="post:\accounts:application\json:mobile-accounts-eapi-config">
		<logger level="INFO" doc:name="Logger" doc:id="8dd32fb9-1913-4858-80dc-4c4b6d313c4b" />
		<flow-ref doc:name="Flow Reference" doc:id="aec960ef-3d6f-4522-b56b-66e953397d1d" name="imp-post-accountsFlow"/>
		<error-handler ref="lm-common-error-handlerError_Handlers" />
    </flow>
</mule>
